<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Cadastro</h1>
    
    <button class="button button-icon ion-close" ng-click="fechaCadastro()"></button>
    
  </ion-header-bar>
  <ion-content>
    <form name="formCadastro">
      <div class="list">
       <label class="item item-input item-floating-label">
         <span class="input-label">Nome</span>
         <input type="text" placeholder="Nome" name="nome" ng-model="cadastro.nome" ng-required="true">
         <span class="assertive" ng-show="formCadastro.nome.$invalid && formCadastro.nome.$dirty">Preencha o campo nome corretamente.</span>
       </label>

       <label class="item item-input item-floating-label">
         <span class="input-label">E-mail</span>
         <input type="email" placeholder="E-mail" name="email" ng-model="cadastro.email" ng-required="true">
         <span class="assertive" ng-show="formCadastro.email.$invalid && formCadastro.email.$dirty">Preencha o campo e-mail corretamente.</span>
       </label>
       
     </div>
   </form>
   <button class="button button-full button-positive" ng-disabled="formCadastro.$invalid" ng-click="cadastroUsuario(cadastro)">Salvar</button>
 </ion-content>
</ion-modal-view>